
*.vcxproj
*.vcxproj
xr_3da/XR_3DA.vcxproj
xr_3da/xrCPU_Pipe/xrCPU_Pipe.vcxproj
xr_3da/xrGame/xrGame.vcxproj
xr_3da/xrGame/xrGameSpy/xrGameSpy.vcxproj
xr_3da/xrRender_R1/xrRender_R1.vcxproj
xr_3da/xrRender_R2/xrRender_R2.vcxproj
xrCDB/xrCDB.vcxproj
xrLua/xrLua.vcxproj
xrCore/xrCore.vcxproj
xrNetServer/xrNetServer.vcxproj
*.vcxproj
*.db
.vs/XR_3DA/v16/.suo
xr_3da/xrCPU_Pipe/xrCPU_Pipe.vcxproj
xr_3da/XR_3DA.vcxproj
xr_3da/XR_3DA.vcxproj
*.vcxproj
*.db-shm
*.db-wal
*.opendb
*.ipch
*.vcxproj
*.vcxproj
